* {
    margin: 0; 
    padding: 0;
  }
  
  
  
  /* ID's ----------------------------------------------------------------------------------*/
  #search {
    background: #FCECD9;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 700px;
    height:315px;
    margin:0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow:  0px 0px 40px 5px #B58480;
    /*padding-top: 60px;*/
  
  }
  
  /*class -------------------------------------------------------------------------------------------*/
  .ng-binding{
    background: #B58480;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
  }
  
  /* Basic elements ---------------------*/
  
  label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

  }

  h1 {
    color: #F21F44;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
  }
  
  button {
    border-style: none;
    background: #322C29;
    font-family: 'Lato', sans-serif;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin:5px;
  }
  
  button:hover {
     background: #DACABE;
  }
  
  input {
    width: 40%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    
  }
  
  #body{
    padding-top: 100px;
    background-image: url("./images/seed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500vh;
  }
  #foodresults{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;

}
#add{
    width: 100px;
}
#fav{
    width:100px;
}
h2{
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: #F21F44;
}
#bodytwo{
  background-image: url("./images/seed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500vh;
  margin: 0 auto;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}